<div class="main-card">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>
                <strong>Book For Rent</strong>
            </mat-card-title>
        </mat-card-header><br><br>
        <mat-card-content>
            <button mat-stroked-button
            color="black"
            class="btn-block" (click)="getBookings()">Get Bookings</button><br><br>
            <p>Listing_id: </p>
            <p>booking_id: </p>
            <p>booking_date: </p>
            <p>booking_start: </p>
            <p>booking_end: </p>
            <p>username: </p>
        </mat-card-content>
    </mat-card>
</div>

